body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{ font-weight: bolder;
    font-size: 50px;

}
.first-highlight{
    color: #363958; 
    font-family: 'Bebas Neue', cursive;
}
p{
    font-size: 15px;
    color: dimgray;
}
h2{
    font-size:40px ;
}
.highlight{
    color: blue;
    font-family: 'Bebas Neue', cursive;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}
.half-width img {
    width: 100%;
}
.Top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(128, 114, 250) , red );
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height:75%;
    background-color:white;
}
.experience-area{
    
    height: 500px;
    float: left;
    padding-top: 30px;
  
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, yellow ,red);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,black,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  .change{
    font-family: 'Bebas Neue', cursive;
    color: #F46060;
    text-align: center;

  }
  #second{
      color: #363958;
  }
  .exp{
    width: 20%;
    float: left;
    margin-left: 10%;
   
}
.exp img{
    
        width: 100%;
        border-radius: 4px;
        box-shadow: 20px 40px 50px black;
    
}
.exp h2{
    font-size: 24px;
}
.exp p{
    font-size: 16px;
}
.inq{
   
    
    border-radius: 5px;
    padding: 14px 15px;
    margin: 5%;
    

}
.inq p{
    text-decoration: none;
   
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    color:rgb(10, 0, 0);
    font-weight: bolder;
}
.last img{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 23%;
   
    
    
   

}
  
  
